<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Coffee Prediction</title>
</head>
<body>
    <h1> {{ prediction }}</h1><br/>
<form name="prediction" id="prediction" method="post">
    <div class="container">
        <label for="country">Country</label>
            <input type="text" id="country" name="country">

        <label for="variety">Variety</label>
        <input type="text" id="variety" name="variety">

        <label for="aroma">Aroma</label>
        <input type="text" id="aroma" name="aroma">

        <label for="aftertaste">Aftertaste</label>
        <input type="text" id="aftertaste" name="aftertaste">

        <label for="acidity">Acidity</label>
        <input type="text" id="acidity" name="acidity">

        <label for="body">Body</label>
        <input type="text" id="body" name="body">

        <label for="balance">Balance</label>
        <input type="text" id="balance" name="balance">

        <label for="moisture">Moisture</label>
        <input type="text" id="moisture" name="moisture">
        <label> </label>
        <input type = "submit" name="predict" id="predict" value="Predict">
       
    </div>
</form>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
    